{
    "parser": "@typescript-eslint/parser",
    "plugins": ["prettier", "simple-import-sort", "@typescript-eslint", "cypress"],
    "extends": ["airbnb", "airbnb/hooks", "prettier"],
    "env": {
        "node": true,
        "browser": true,
        "jest": true,
        "cypress/globals": true
    },
    "rules": {
        "simple-import-sort/imports": [
            "error",
            {
                "groups": [
                    ["^react$", "^[a-z]"],
                    ["^@"]
                ]
            }
        ],
        "import/extensions": 0,
        "import/export": 0,
        "comma-dangle": 0,
        "no-plusplus": 0,
        "no-continue": 0,
        "no-unused-expressions": 0,
        "simple-import-sort/exports": "error",
        "import/first": "error",
        "import/newline-after-import": "error",
        "import/no-duplicates": "error",
        "arrow-parens": ["error", "as-needed"],
        "react/jsx-props-no-spreading": "off",
        "react-hooks/exhaustive-deps": "off",
        "no-use-before-define": "off",
        "semi": "error",
        "prefer-destructuring": "off",
        "react/destructuring-assignment": "off",
        "array-callback-return": "off",
        "react/button-has-type": "off",
        "import/no-extraneous-dependencies": "off",
        "react/default-props-match-prop-types": "off",
        "react/require-default-props": "off",
        "no-shadow": "off",
        "react/jsx-filename-extension": "off",
        "react/prefer-stateless-function": "off",
        "no-underscore-dangle": "off",
        "import/no-cycle": "off",
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "max-len": [
            "warn",
            {
                "code": 120,
                "ignoreUrls": true,
                "ignorePattern": "import"
            }
        ],
        "no-unused-vars": "warn",
        "operator-linebreak": "warn",
        "react-hooks/rules-of-hooks": "error",
        "react/jsx-closing-tag-location": 2,
        "react/jsx-closing-bracket-location": "off",
        "import/prefer-default-export": "off",
        "consistent-return": "off",
        "react/jsx-max-props-per-line": [
            2,
            {
                "maximum": 2,
                "when": "always"
            }
        ],
        "prefer-const": [
            "error",
            {
                "destructuring": "all",
                "ignoreReadBeforeAssign": false
            }
        ],
        "react/prop-types": "off",
        "react/no-unused-prop-types": "off",
        "react/jsx-fragments": [1, "element"]
    },
    "settings": {
        "import/resolver": {
            "alias": {
                "map": [
                    ["@", "./src"]
                ],
                "extensions": [".ts", ".js", ".tsx"]
            }
        }
    },
    "overrides": [{
        "files": ["src/index.ts"],
        "rules": {
            "prettier/prettier": [
                "error",
                {
                    "singleQuote": true
                }
            ]
        }
    }]
}
